body {
  font-family: Arial, sans-serif;
  background-color: #000;
  margin: 0 auto;
  padding: 0;
}
.container {
  display: flex;
  display: inline-flex;
  max-width: 100%;
  justify-content: space-between;
  align-items: space-between;
  text-align: center;
  color: #fff;
  padding-left: 200px;
  margin-left: 100px;
  gap: 100px;
}
.imgPig {
  padding-top: 100px;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  flex: 0 1 45%;
  align-items: flex-start;
  max-width: 100%;
  padding-left: 0px;
}
/* Šitos dalies nebuvo */
img {
  margin-right: 20px;
  padding-right: 40px;
  width: 100%;
  height: auto;
  max-width: 520px;
}
.contextBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  /* teks perrašyti i media query */
  /* padding-top: 35%;
  font-size: 40px; */
  text-align: left;
  padding-top: 2%;
  flex: 0 1 55%;
  max-width: 55%;
  text-align: left;
}
#toCurrency {
  font-size: 24px;
  max-width: 500px;
  background-color: #000;
  color: #fff;
}
#fromCurrency {
  font-size: 24px;
  max-width: 300px;
  background-color: #000;
  color: #fff;
}
#convertBtn {
  font-size: 20px;
  padding: 10px 20px;
  background-color: #ffc107;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#convertBtn:hover {
  background-color: #e0a800;
}
#returnBtn {
  font-size: 16px;
  padding: 5px 10px;
  background-color: #6c757d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}
#result {
  font-size: 24px;
  margin-top: 20px;
  color: #fff;
}
#context {
  font-size: 14px;
  color: #fff;
  margin-top: 10px;
  max-width: 400px;
}
option,
label {
  background-color: #000;
  color: #000;
  padding: 5px;
  font-size: 16px;
  text-align: left;
  color: #fff;
}
.mark {
  margin-right: 20px;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
#amount {
  font-size: 24px;
  padding: 5px;
  width: 150px;
  background-color: #000;
  color: #fff;
}
#controlBox {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}
#headFirst {
  color: rgb(143, 29, 29);
  font-size: 100px;
  background-color: black;
  line-height: 0px;
  box-shadow: 3px 6px 3.4px 0px #38171440 inset;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
#headSecond {
  color: white;
  /* padding-top: 0px; */
  font-size: 70px;
  margin-top: 0px;
  line-height: 0px;
  max-lines: 0px;
  background-color: black;
  box-shadow: 3px 6px 3.4px 0px #38171440 inset;
}

#headThird {
  color: rgb(134, 50, 50);
  background-color: black;
  font-size: 20px;
  line-height: 10px;
  max-lines: 0px;
  box-shadow: 3px 6px 3.4px 0px #38171440 inset;
  /* margin-top: 5px;
  padding-top: 1px; */
}
p {
  padding-top: 5px;
  margin-top: 5px;
}
/* Kadandi inputDisplay sukuriau per JavaScript anksteniame variante css kode jo neduvo */
#inputDisplay {
  display: flex;
  gap: 12px;
  align-items: center;
  flex-wrap: wrap;
  background-color: #000;
  color: #fff;
}
/* ir pabaigoje primirštas, bet būtinas mažiems ekranams priderinimas */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    text-align: left;
  }
  .imgPig {
    max-width: 100%;
    padding-top: 0px;
    flex: none;
  }
  .imgPig img {
    max-width: 320px;
    margin: 0 auto;
    /* height: auto; */
    /* padding-top: 0px; */
  }
  .contextBox {
    max-width: 100%;
    flex: none;
    text-align: stretch;
    padding-top: 0px;
    font-size: 22px;
  }
  #amount {
    width: 100%;
    max-width: 260px;
  }
  #fromCurrency,
  #toCurrency {
    width: 100%;
    max-width: 260px;
  }
  #controlBox {
    gap: 12px;
  }
  #headFirst {
    font-size: 64px;
  }
  #headSecond {
    font-size: 46px;
  }
}
